.xterm {
  height: 100%;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.xterm-viewport {
  overflow-y: auto !important;
  /* scrollbar-width: thin;
  scrollbar-color: #555 #1e1e1e; */
  position: relative;
}

.xterm-viewport::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background-color: #120d1f;
}

.xterm-viewport::-webkit-scrollbar {
  width: 10px;
}

.xterm-viewport::-webkit-scrollbar-track {
  background: #1e1e1e;
}

.xterm-viewport::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
}

.xterm-viewport::-webkit-scrollbar-thumb:hover {
  background: #777;
}

.xterm-screen {
  width: 100% !important;
  margin: 14px 0 0 14px;
}

.xterm-rows {
  width: 100% !important;
}

.xterm-scrollable-element {
  background-color: #120d1f;
}
