:root {
  --bg-dark: #05010d;
  --bg-surface: #0f0524;
  --bg-purple-light: #280649;
  --primary-purple: #8b5cf6;
  --primary-glow: #8b5cf680;
  --primary-pink: #8e34a4df;
  --accent-cyan: #2493a4;
  --text-main: #f8fafc;
  --text-dim: #94a3b8;
  --transition: all 0.3s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-dark);
  color: var(--text-main);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
  font-family: inherit;
  border: none;
  background: none;
}

#root {
  height: 100%;
}

.hidden {
  display: none;
}

/*
  fix for user agent stylesheet from messing
  up the background color.
  google just can't stop with its autofill override
*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  transition:
    background-color calc(infinity * 1s) step-end,
    color calc(infinity * 1s) step-end;
}